---
title: "Contact Us"
---
<div class="content__contact-us">

<h1>Hi, how can we help you?</h1>
<h3 class="subheader">You can contact members of the Enactus team here:</h3>

<div class="row">
    <div class="large-6 columns">
    {% for contact in site.data.contacts %}
    <dl>
        <dt>{{ contact.title }}</dt>
        <dd>{{ contact.person }}</dd>
    </dl>
    {% endfor %}
    </div>
    <div class="large-6 columns">
    {% for project in site.data.projects %}
    <dl>
        <dt>{{ project.title }}</dt>
        <dd>{{ project.person }}</dd>
    </dl>
    {% endfor %}
    </div>
</div>

</div>
