.landing {
	position: relative;
	text-align: center;
	z-index: 1;
}

.landing__title {
	color: #FFF;
	font-weight: 300;
	> .subheader {
		color: $secondary-color;
		font-weight: bold;
	}
}

.landing__subtitle {

}