.footer {
	background: #4c4c4c;
	padding-top: 2em;
	.subheader, .footer__navigation {
		color: #BDC0C0;
		font-size: .9em;
	}
}

.footer--title, .footer__copyright {
	color: #F3F3F3;
	font-weight: 300;
}

.footer--link {
	color: #F3F3F3;
	font-weight: normal;
}

.footer__copyright {
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	margin: 1em 0;
}