@import "compass";
@import "normalize";
@import "partials/settings";
@import "foundation";

@import "partials/vendor";
@import "partials/header";
@import "partials/content";
@import "partials/footer";

@import "partials/media";

.wrapper {
    position: relative;
    z-index: 1;
}
    .landing.wrapper {
        background: rgba(#000, .6);
    }

/*
 * FOUT
 */
html {
    opacity: 0;
}
body {
    background: #FFF image-url('background.png') repeat;
}
.js {
    opacity: 1;
    @include single-transition();
}

/*
 * Modifiers
 */
a {
    @include single-transition;
}
.link--emphasis {
    &:hover { color: #FFF !important }
    &.primary {
        background: #49A942 !important;
        &:hover { background: darken(#49A942, 5%) !important }
    }
    &.secondary {
        background: #0096D6 !important;
        &:hover { background: darken(#0096D6, 5%) !important }
    }
}
.text--shadow {
    text-shadow: 0 1px 0 rgba(#000, .5);
}
.body--noVid {
    background: image-url('enactus.jpg') no-repeat center center fixed;
    @include background-size(cover);
}